@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Hi! I am Imtiaj Ahammad, ASP.NET and Angular Developer.</p>
<p>I have faced a task in an joining process for one company to make a CRUD with given model along with paging</p>
<p>You can modify the project with your own requirements and get the paging</p>
<p> For paging you need to do 5 exceptional tasks</p>
<ul>
    <li>Install PagedList from NuGet </li>
    <li>Go to EmployeeController and observe the change in Index Actionlink how the PagedList is used</li>
    <li>Go to the list view and observe that default model using is commented and added two new usings for PagedList</li>
    <li>Go to the list view and observe that some labels are commented and overrode in the next line. Change it according to your project</li>
    <li>And add the last div portion at the bottom of Index View after the list table to get the paging bar</li>
</ul>
