@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Imtiaj Ahammad<br />
    Dhaka, Bangladesh<br />
    @*<strong>LinkedIn:</strong>*@   <a href="https://www.linkedin.com/in/imtiaj-ahammad-2175a3130/">Find me on LinkedIn</a><br />
    @*<strong>Youtube:</strong>*@   <a href="https://imtiajahammad.github.io/imtiajahammad/">Get me on Github</a><br />
    @*<strong>Youtube:</strong>*@   <a href="https://www.youtube.com/channel/UCqeQjYOsr6YH2sAkjsAr0DQ?view_as=subscriber">Get me on YouTube</a><br />

    <br />
    <abbr title="about">@*email:*@  </abbr>
    I had been working on business application services focusing sports and membership associations for more than one year. I have developed my skills working with repository pattern solutions, custom made JavaScript framework, sql operations and reports. I am looking forward to working with more .net technologies and JavaScript, typescript, angular etc.
    <br /><br />
    I am now seeking a position in a growth-oriented company where I can use my skills to the advantage of the company while having the scope to develop my own skills.
</address>

<address>
    <strong>Contact:</strong>   <a href="mailto:Support@example.com">imtiajahammad.official@gmail.com</a><br/> 
</address>